:root {
  --grid-spacing: 1px;
  --color-base: rgba(170,34,0,1);
  --color-base-half: rgba(170,34,0,.5);
  --color-base-tint: rgba(170,34,0,.1);
  --color-accent: #fff;
  --color-accent-half: rgba(255,255,255,.3);
  --color-accent-tint: rgba(255,255,255,.1);
}

@font-face {
	font-family:'Studio6';
	src:	url('../fonts/Studio6-Regular.woff2') format('woff2'),
			url('../fonts/Studio6-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Studio6';
	margin: 40px;
/*	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
*/	background-color: var(--color-base);
	color:var(--color-accent);
	box-sizing: border-box;
}

h1 {
	font-weight: normal;
	font-size: 5vw;
}

input, 
button {
	font: inherit;
	margin: .2em 0;
}
input {
	background-color: var(--color-accent-tint);
	color: var(--color-accent);
	padding: 1em 1.3em;
	border-radius: 4em;
	border: none;
}
input:hover,
input:focus {
	outline: none;
	background-color: var(--color-accent-half);
}
input::placeholder {
	color: rgba(255,255,255,.7);
}

button {
	background-color: var(--color-accent);
	color: var(--color-base);
	padding: 1em 1.3em;
	border-radius: 4em;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color .2s ease-in-out;	
}
button:hover,
button:focus {
	outline: none;
	background-color: rgba(255,255,255,.7);
}

#numbers {
	display: grid;
	grid-template-columns: repeat(5, calc((100vw - 86px)/5));
	grid-gap: var(--grid-spacing);
	background-color: var(--color-accent);
	border: var(--grid-spacing) solid var(--color-accent);;
	width: min-content;
	margin-top: 2em;
}
#btnNewBoard {
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-size: 0.6em;
}
.number {
	position: relative;
	background-color: var(--color-base);
	text-align: center;
	box-sizing: border-box;
	padding: .3em 0 .2em;
	font-size: 9vw;
	cursor: pointer;
}
.number.selected {
	background-color: var(--color-accent);
	color: var(--color-base);
}
@media screen and (min-width: 800px) {
	.number:hover {
		background-color: var(--color-base-half);
		color: var(--color-base);
	}
	.number.selected:hover {
		background-color: var(--color-accent);
		color: var(--color-base);
	}
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding: .2em 0;	
}

#snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: block;	
    z-index: 100;
}


@media screen and (max-width: 800px) {
	body {
		margin: 30px;
	}
	h1 {
		font-size: 20px;
	}
	#numbers {
		grid-template-columns: repeat(5, calc((100vw - 66px)/5));
	}
	.number {
		padding: .5em 0 .4em;	
		font-size: 10vw;
	}
	#btnNewBoard {
		left: 30px;
		bottom: 30px;
	}
}
